################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/__pycache__
/.vs
/.vs/slnx.sqlite
/serverInteractions.log
/sock_drawer.index
/WWW/sock_drawer.index
